---
layout: layout.liquid
title: "Linoma FC"
eleventyNavigation:
  key: Home
  order: 1
---

<section>

  <h2 id="events">Events</h2>

  <div class="columns">

    {% comment %}
    <div class="column">
      <p>Nothing at the moment, but check back soon!</p>
    </div>
    {% endcomment %}

    <div class="column">
      <h3>
        <a href="https://www.facebook.com/events/1386299091864399/">
          SoktoberFest 2022
        </a>
      </h3>
      <h4>October 21-23, 2022</h4>
      <p>Tulsa, OK</p>
      <p>
        <a class="button" href="https://www.facebook.com/events/1386299091864399/">Facebook Event</a>
        <a class="button" href="{{ '/files/Soktoberfest-2022-flyer.pdf' | bust }}">Flyer</a>
        <a class="button" href="{{ '/files/linoma-schedule-2022.png' | bust }}">Game Schedule</a>
        <a class="button" href="https://neoasa.org/soktoberfest">Tournament</a>
      </p>
    </div>

    {% comment %}
    <div class="column">
      <h3>
        <a href="https://www.facebook.com/events/885044979559160/">
          3rd Annual Linoma Open Golf Outing
        </a>
      </h3>
      <h4>August 7, 2022</h4>
      <p>Tregaron Golf Course</p>
      <p>
        <a class="button" href="https://www.facebook.com/events/885044979559160/">Facebook Event</a>
      </p>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="column">
      <h3>
        <a href="https://www.facebook.com/events/580514709658575/">
          Soktoberfest 2021 Fundraiser and Kick-Off Party!
        </a>
      </h3>
      <h4>October 9, 2021</h4>
      <p>
        Goldeez<br>
        5502 N 103rd St, Omaha, NE 68134
      </p>
      <p>
        <a class="button" href="https://www.facebook.com/events/580514709658575/">Facebook Event</a>
        <a class="button" href="{{ '/files/Soktoberfest-2021-Fundraiser-and-Kick-Off-Party.pdf' | bust }}">Flyer</a>
      </p>
    </div>
    {% endcomment %}

  </div>

</section>

<section>

  <h2 id="sponsors">Sponsors</h2>
  <p>Want to become a sponsor? Please <a href="mailto:contact@linomafc.com">contact us</a>.</p>

  <div class="columns">

    <div class="column">
      <h3>Tier 1 sponsors</h3>
      <ul class="sp-list">
        {% comment %}
        <li class="sp-item">
          <a href="#" class="sp-link">
            <img
              src="{{ '/images/sponsors/mainelli.png' | bust }}"
              alt="Mainelli Mechanical"
              title="Mainelli Mechanical"
              class="sp-img"
            >
          </a>
        </li>
        {% endcomment %}
        <li class="sp-item">
          <a href="https://www.ookla.com/" class="sp-link">
            <img
              src="{{ '/images/sponsors/ookla.svg' | bust }}"
              alt="Ookla"
              title="Ookla"
              class="sp-img"
            >
          </a>
        </li>
        <li class="sp-item">
          <a href="https://www.floriosne.com/" class="sp-link">
            <img
              src="{{ '/images/sponsors/florios.png' | bust }}"
              alt="Florio's Italian Restaurant"
              title="Florio's Italian Restaurant"
              class="sp-img"
            >
          </a>
        </li>
        <li class="sp-item">
          <a href="https://www.mapleathleticcomplex.com/" class="sp-link">
            <img
              src="{{ '/images/sponsors/mac.png' | bust }}"
              alt="Maple Athletic Complex"
              title="Maple Athletic Complex"
              class="sp-img"
            >
          </a>
        </li>
        <li class="sp-item">
          <a href="https://www.facebook.com/people/Modern-COOL-Designs-LLC/100063749843033/" class="sp-link">
            <img
              src="{{ '/images/sponsors/mcd.svg' | bust }}"
              alt="Modern COOL Designs, LLC"
              title="Modern COOL Designs, LLC"
              class="sp-img"
            >
          </a>
        </li>
      </ul>
    </div>

    <div class="column">
      <h3>Tier 2 sponsors</h3>
      <ul class="sp-list">
        <li class="sp-item">
          <a href="#" class="sp-link">
            <img
              src="{{ '/images/sponsors/otw.png' | bust }}"
              alt="Off the Wall"
              title="Off the Wall"
              class="sp-img"
            >
          </a>
        </li>
        <li class="sp-item">
          <a href="https://www.qcromaha.com/" class="sp-link">
            <img
              src="{{ '/images/sponsors/qcr.png' | bust }}"
              alt="QCR Omaha"
              title="QCR Omaha"
              class="sp-img"
            >
          </a>
        </li>
        <li class="sp-item">
          <a href="https://www.facebook.com/BlueTurtleTulsa" class="sp-link">
            <img
              src="{{ '/images/sponsors/blueturtle.jpg' | bust }}"
              alt="Blue Turtle tavern"
              title="Blue Turtle tavern"
              class="sp-img"
            >
          </a>
        </li>
      </ul>
    </div>

  </div>

</section>

<section>

  <div class="columns">

    <div class="column">
      <h2 id="schedules">Schedules</h2>
      <ul>
        <li><a href="https://sites.google.com/a/nebraskasoccer.net/nmsl/home/schedule">Nebraska Men's Soccer League</a></li>
        <li><a href="https://www.teamsideline.com/sites/MapleAthleticComplex/schedules">Maple Athletic Complex</a></li>
      </ul>
    </div>

    <div class="column">
      <h2 id="contact">Contact</h2>
      <ul>
        <li>Email: <a href="mailto:contact@linomafc.com">contact@linomafc.com</a></li>
        <li>Venmo: <a href="https://venmo.com/linomafc">@LinomaFC</a></li>
      </ul>
    </div>

  </div>

</section>
