<!DOCTYPE html>
<html lang="en">
<head>
  <!-- preload subsets of ubuntu fonts -->
  <link
    rel="preload"
    href="{{ '/fonts/Ubuntu-Regular-kern-latin.woff2' | bust }}"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <link
    rel="preload"
    href="{{ '/fonts/Ubuntu-Bold-kern-latin.woff2' | bust }}"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <!-- preload full cloister black because it's only slightly bigger than the subset -->
  <link
    rel="preload"
    href="{{ '/fonts/CloisterBlack-hint-all.woff2' | bust }}"
    as="font"
    type="font/woff2"
    crossorigin
  >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | bust }}">
  <title>{{title}}</title>
  <!-- lazily swap in full ubuntu font files -->
  <script>
    if ("fonts" in document) {
      // add weights here, one per line
      var regular = new FontFace(
        "Ubuntu",
        "url({{'/fonts/Ubuntu-Regular-hint-all.woff2' | bust }}) format('woff2')"
      );
      var bold = new FontFace(
        "Ubuntu",
        "url({{'/fonts/Ubuntu-Bold-hint-all.woff2' | bust }}) format('woff2')",
        { weight: "700" }
      );
      // also add weights here
      Promise.all([
        bold.load(),
        regular.load()
      ]).then(function(fonts) {
        fonts.forEach(function(font) {
          document.fonts.add(font);
        });
      });
    }
  </script>
</head>
<body>

  <div class="site">

    <header>
      <div class="columns lockup">
        <div class="column lockup-piece lockup-title">
          <h1 class="lockup-header"><a href="/">Linoma FC</a></h1>
          <p><span class="u-avoid-break">An amateur adult soccer club based in</span> <span class="u-avoid-break">Omaha, NE, USA</span></p>
        </div>
        <div class="column lockup-piece lockup-logo">
          <a href="/"><img class="lockup-image" src="/images/linoma-crest.png" alt="Linoma FC Logo"></a>
        </div>
      </div>
      <hr>
    </header>

    <main>
      {{content}}
    </main>

    <footer>
      <hr>
      <div class="columns">

        <div class="column footer-column">
          {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
        </div>

        <div class="column footer-column u-align-left u-sm-align-center">
          <p><a href="https://www.github.com/pupismyname/linomafc">Made with love in Omaha, NE</a></p>
        </div>

        <div class="column footer-column u-align-left u-sm-align-right">
          <figure>
            <blockquote>
              <p>"Remember who you are and what you represent."</p>
              <blockquote><p>Hettie Belle Ege</p></blockquote>
            </blockquote>
          </figure>
        </div>
      </div>
    </footer>

  </div>

</body>
</html>
